footer.footer
  .footer__wrapper
    .footer__actions
      a.footer__logo(href="#promo") WISE
      a.footer__button.js-subscribe-button(href="http://eepurl.com/dnghEj") Подписаться на новости
      .footer__question
        h3 Задайте вопрос
        p
          | Напишите нам
          a(href="mailto:ico@wise.tatar") ico@wise.tatar
    .footer__copyright
      | &copy; WISE

