#grow.container__item.container__item--gray
  .container__item-wrapper
    h2 Причины роста токена WISE

    .grow-container
      p
        strong 1.
        | Курс токена WISE будет расти благодаря росту спроса на услуги биржи, а также росту количества участников биржи, желающих инвестировать и желающих привлечь инвестиции.
        br
        | Стоимость курса привязана к Эфиру. На старте 2000 WISE = 1 etherium.
      p
        strong 2.
        | В перспективе — создание экосистемы и API, через который будут подключены сервисы, необходимые для развития веб-проектов.
        br
        | Это биржи копирайтинга, сервисы автоматизации, фриланс-биржи,
        |где услуги можно будет оплачивать токенами WISE, а комиссия сервисов будет погашаться самой биржей.
        | Все это будет стимулировать спросна токены и повышать курс WISE.



