header.header
  .header__wrapper
    a.logo(href="#promo") WISE

    nav
      .navigation
        a(href="#how_work") Как работает WISE
        a(href="#statistic") Статистика
        a(href="#roadmap") План развития
        a(href="#grow") Токены WISE
        //a(href="#") Команда
        //a(href="#") Whitepaper
        //a(href="#") En
      a.mobile-nav-toggle.js-toggle-nav(href="#") Menu

