#how_work.container__item
  .container__item-wrapper
    h2 Как pаботает WISE
    .time.now.js-time-img
      .time__img
        img.time__now(src="images/work1.png")
        img.time__tomorrow(src="images/work2.png")

      .time__actions
        .time__action.time__action--now.js-time-now Сегодня
        .time__action.time__action--tomorrow.js-time-tomorrow Завтра



