#promo.container__item
  .container__item-wrapper
    .promo
      .promo__header
        | Получайте доход
        br
        | от инвестиций
        br
        | в веб-проекты

    .promo__stat
      .promo__stat-int
        // ul.promo__stat-list
        //   li
        //     span 30
        //     small дней
        //   li
        //     span 18
        //     small часов
        //   li
        //     span 23
        //     small минуты
        //   li
        //     span 46
        //     small секунд
        a.promo__stat-btn(href="http://eepurl.com/dnghEj") Подписаться на новости

      .promo__desc
        .promo__desc-header
          | WEB INVEST STOCK EXCHANGE
        .promo__desc-text
          | WISE — это смарт-биржа для любых веб-проектов, имеющих трафик и монетизацию.
          br
          | WISE — гарантирует правомерность совершаемых торговых операций между эмитентом и инвестором, предоставляя требуемые инструменты.
          br
          | WISE — защищает интересы инвесторов и эмитентов, исключая мошенничество.

