#statistic.container__item.container__item--gray
  .container__item-wrapper
    h2 Объем рынка
    .panel-wrapper
      .panel-column.panel-column--statistic
        .panel.panel--statistic
          .panel__value
            span $
            | 530
          .panel__unit миллиардов
          .panel__hint
            | Объем рынка непрофессиональных инвестиций в 2017 году

        .panel.panel--statistic
          .panel__value
            span $
            | 205
          .panel__unit миллиардов
          .panel__hint Объем рынка интернет-рекламы в 2015 году
        .panel.panel--statistic
          .panel__value
            span $
            | 84
          .panel__unit миллиарда
          .panel__hint Объем рынка венчурных инвестиций в 2017 году
        .panel.panel--statistic
          .panel__value
            span $
            | 500
          .panel__unit миллионов
          .panel__hint Объем рынка купли-продажи интернет-ресурсов в США в 2017
