#what_give.container__item.container__item--gray
  .container__item-wrapper
    h2 Что дает WISE
    .panel-wrapper
      .panel-row
        .panel-column
          .panel
            .panel__header.panel__header--individual Частным инвесторам
          .panel
            .panel__header.panel__header--fond Инвестиционным фондам
        .panel__description
          | Возможность получить доступ к ранее недоступной
          | и неструктурированной группе инвестиционных объектов
          | с огромной финансовой ёмкостью
        .panel__description
          | Возможность инвестировать в web-проекты на раней стадии
          | с большим потенциалом роста и экспертной оценкой
      .panel-row
        .panel-column
          .panel.panel--double
            .panel__header.panel__header--owner Владельцам веб-проектов
            .panel__text
              | включая веб-сайты,
              br
              | веб-сервисы,
              br
              | группы, каналы
              br
              | и аккаунты
              br
              | в социальных сетях
              br
              | и мессенджерах

        .panel__description.panel__description--owner
          | Получить инвестиции для ускорения роста проектов,
          | не затрачивая много времени и средств, как в случае прямых или венчурных инвестиций
        .panel__description.panel__description--owner
          | Получить оценку проекта экспертным сообществом

